        @charset "UTF-8";
        
        body {
            background-color: lightsteelblue;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;

        }
        h1 {
            color: darkblue;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 25px;
        
        }
        h2 {
            color: cornflowerblue;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-size: 20px;
        }
        p {
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 22px;
        }