@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
html, body {
    min-height: 100vh;
    background-color: darkgray;
}
header {
    background-color: #000000;
    color: white;
    text-align: center;
    
}
header > h1 {
    font-family: "Arial Black", Arial, Helvetica, sans-serif;
    font-size: 10vh;
    padding-top: 50px;
    font-variant: small-caps;
    
}
header > p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    padding-bottom: 50px;
}
  a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: underline;
}
section {
    font-family: 'Sriracha', cursive;
    font-size: 3.5vw;
    line-height: 2em;
    padding-top: 10vh;
    padding-left: 30px;
    padding-bottom: 10vh;
}
section.normal {
    background-color: white;
    color: black;
}

main .imagem {
    color: white;
    background-color: darkgray;
    box-shadow: 6px 6px 13px 0px rgba(0, 0, 0, 0.543);
}
section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.311);
    text-shadow: 1px 1px 0px black;
}

#imagem01 {
    background-image: url(imagens/background001.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right center;
}

#imagem02 {
    background-image: url(imagens/background002.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
footer {
    background-color: #000000;
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5em;
    padding: 20px;
}





